@model IEnumerable<BlackThreadWeb.Models.Category>

<h1>Please choose a category</h1>
<a asp-controller="Categories" asp-action="AddCategory" class="btn btn-primary">Add a new Category</a>
<ul>
    @foreach (var category in Model)
    {
        <li>
            <a asp-controller="Categories" asp-action="Browse" asp-route-category="@category.Name">
                @category.Name
            </a>
        </li>
    }

</ul>