@model IEnumerable<JamiiWeb.Models.Category>

<h1>Please choose a product category</h1>

<ul>
    @foreach (var category in Model)
    {
        <li></li>
        <li>
            <a asp-controller="Categories" asp-action="Browse" asp-route-category="@category.Name">
                @category.Name
            </a>
        </li>
    }

</ul>